body{
margin: 10px;
}


.navbar-nav a {
   color: red;
   font-weight: bold;

  }
  .navbar-nav a:hover{
    color: #ffff;
    font-weight: bold;
  }
  .parte1 h2{
    color: red ;
    padding: 10px;
   
  }
  .parte1 p{
   color: #333333;;

   padding: 20px;
  }

.parte1{
  background-image: url('../fondos/fondos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;


}

.yo{
  margin-top: 60px;
  padding: 10px;
  margin: 23px;

}





