


.navbar-nav a {
   color: red;
   font-weight: bold;

  }
  .navbar-nav a:hover{
    color: #ffff;
    font-weight: bold;
  }
  .parte1 h2{
    color: red ;
    padding: 10px;
   
  }
  .parte1 p{
   color: #F2B30F;
   font-size: 19px;

   padding: 20px;
  }
  .parte2 h2{
    color: red;
    padding: 10px;
    margin-left: 113px;
  }

.fondo{
  background-image: url('../fondos/fondos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;


}
.icons{
  margin-right: 34px;
  width: 114px;
}

.icons2{
  margin-right: 34px;
  width: 114px;
}
.yo{
  margin-top: 60px;
  padding: 10px;
  margin: 23px;

}


.habilidades {
  color: red;
  padding: 10px;

}

